.container {
    max-width: 80rem; //1280px
    width: 100%;
    margin: 0 auto;
    padding: 2rem 3rem;

    @include breakpoint(md) {
        padding: 2rem;
    }

    @include breakpoint(xl) {
        padding: 1rem;
    }
}
