@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: $defaultFontColor;

    @include breakpoint(sm) {
        font-size: 1.2rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    font-size: 2rem;
    margin: 1.5rem 0;

    @include breakpoint(md) {
        font-size: 2.5rem;
        margin: 1.8rem 0;
    }

    @include breakpoint(lg) {
        font-size: 3rem;
        margin: 2rem 0;
    }
}

h2 {
    font-size: 1.5rem;
    margin: 1.4rem 0;

    @include breakpoint(md) {
        font-size: 2rem;
        margin: 1.4rem 0;
    }

    @include breakpoint(lg) {
        font-size: 2.5rem;
        margin: 1.8rem 0;
    }
}

h3 {
    font-size: 1.4rem;
    margin: 1.4rem 0;

    @include breakpoint(md) {
        font-size: 1.75rem;
        margin: 1.5rem 0;
    }

    @include breakpoint(lg) {
        font-size: 2rem;
        margin: 1.6rem 0;
    }
}

h4 {
    font-size: 1.2rem;
    margin: 1.2rem 0;

    @include breakpoint(md) {
        font-size: 1.25rem;
        margin: 1.3rem 0;
    }

    @include breakpoint(lg) {
        font-size: 1.4rem;
        margin: 1.2rem 0;
    }
}

p {
    margin-bottom: 1.5rem;
}
